:root {
  --color-primary: #f0f;
  --color-secondary: #000;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;

  /* lint-testing */
}
